{% extends 'base.html.twig' %}

{% block body %}
<div class="page-header header-filter" style="background-image: url('/material-kit-master/assets/img/inscription.jpg'); background-size: cover; background-position: top center;">

	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 ml-auto mr-auto">
				<div class="card card-login">
						<div class="card-header card-header-primary text-center">
							<h4 class="card-title">Inscription</h4>
						</div>
						<div class="card-body">
{{ form_start(formSignup) }}
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
									</span>
								</div>
                                {{form_row (formSignup.username, {
                                                'attr':{
                                                    'type' : "text",
                                                    'class' : "form-controle",
                                                    'placeholder' : 'Nom d\'utilisateur' 
                                                    }
                                                })}}

							</div>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
                                        <br>
									</span>
								</div>
                                    {{form_row (formSignup.email, {
                                                'attr':{
                                                    'type' : "text",
                                                    'class' : "form-controle",
                                                    'placeholder' : 'Email' 
                                                    }
                                                })}}


							</div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"></span>
                                </div>
                                {{form_row (formSignup.nom, {
                                                'attr':{
                                                    'type' : "text",
                                                    'class' : "form-controle",
                                                    'placeholder' : 'Nom' 
                                                    }
                                                })}}

							</div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"></span>
                                </div>
                                {{form_row (formSignup.prenom, {
                                                'attr':{
                                                    'type' : "text",
                                                    'class' : "form-controle",
                                                    'placeholder' : 'Prenom' 
                                                    }
                                                })}}

                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"></span>
                                </div>
                                {{form_row (formSignup.password, {
                                                'attr':{
                                                    'class' : "form-controle",
                                                    'placeholder' : 'password' 
                                                    }
                                                })}}

                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"></span>
                                </div>
                                {{form_row (formSignup.confirm_password, {
                                                'attr':{
                                                    'class' : "form-controle",
                                                    'placeholder' : 'confirm password' 
                                                    }
                                                })}}

                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"></span>
                                </div>
                            {{form_row (formSignup.isProf, {
                                'label': 'Etes vous un prof',
                                                'attr':{
                                                    'class' : "form-controle",
                                                    'placeholder' : 'confirm password' 
                                                    }
                                                })}}

                            </div>
						<div class="footer text-center">
							<button type="submit" class="btn btn-succes">
                                    Connexion
                            </button>
						</div>
{{ form_end(formSignup) }}

				</div>
			</div>
		</div>
	</div>



{% endblock %}
