{% extends 'base.html.twig' %}

{% block body %}

	
<div class="page-header header-filter" data-parallax="true" style="background-image: url('/material-kit-master/assets/img/cours.jpg');">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="title">Votre page de gestion des cours</h1>
			</div>
		</div>
	</div>
</div>


<div class="row-md-6">
	<div class="col">
		
		<!-- Tabs with icons on Card -->
		<div class="card card-nav-tabs">
			<div
				class="card-header card-header-primary">
				<!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
				<div class="nav-tabs-navigation">
					<div class="nav-tabs-wrapper">
						<h3>
							Creer un nouveau cours !
						</h3>
						
					</div>
				</div>

			</div>
			<div class="card-body ">
				<div class="tab-content text-center">
					<div class="tab-pane active" id="profile">
						<p>
						<div id="formulaire_creation_exercice" align="center">


							{{ form_start(form) }}

							{{form_row (form.titre, {
										'label': 'Titre de cours',
										'attr':{
											'placeholder' : 'Un titre sympa ?' 
											}
										})}}

							{{form_row (form.description, {
											'label': 'Description',
											'attr':{
												'placeholder' : 'Decrivez votre cours' 
												}
											})}}

							<button type="submit" class="btn btn-succes">
								Enregistrer</button>

							{{form_end(form)}}
						</div>


						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Tabs with icons on Card -->
	</div>
	
</div>


{% for class in courss %}
	{# <tr data-index="{{ class.titre }}" data-position="">
		<td>
			<a href="/cours/{{ class.id }}/createExo">{{ class.titre }}</a>
		</td>
	</tr> #}
<a href="/cours/{{ class.id }}/createExo">

<div class="row">
	<div class="col-md-8">
		
		<!-- Tabs with icons on Card -->
		<div class="card card-nav-tabs">
			<div
				class="card-header card-header-primary">
				<!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
				<div class="nav-tabs-navigation">
					<div class="nav-tabs-wrapper">
						<h3>
							{{class.titre}}
						</h3>
						
					</div>
				</div>

			</div>
			<div class="card-body ">
				<div class="tab-content text-center">
					<div class="tab-pane active" id="profile">
						<p>
							{{class.description}}
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Tabs with icons on Card -->
	</div>
	
</div>
</a>


	
{% endfor %}







		<div class="main main-raised">
			<div class="profile-content">
				<div class="container">
					
				</div>
			</div>
		</div>
		<footer class="footer footer-default">
			<div class="container">
				<nav class="float-left">
					<ul>
						<li><a href="https://www.creative-tim.com/">Creative Tim</a></li>
						<li><a href="https://www.creative-tim.com/presentation">About Us</a></li>
						<li><a href="https://www.creative-tim.com/blog">Blog</a></li>
						<li><a href="https://www.creative-tim.com/license">Licenses</a></li>
					</ul>
				</nav>
				<div class="copyright float-right">
					&copy;
					<script>
						document.write(new Date().getFullYear())
					</script>, made with
					<i class="material-icons">favorite</i>
					by
					<a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a>
					for a better web.
				</div>
			</div>
		</footer>
		<!--   Core JS Files   -->
		<script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
		<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
		<script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
		<script src="../assets/js/plugins/moment.min.js"></script>
		<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
		<script src="../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
		<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
		<script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
		<!--  Google Maps Plugin    -->
		<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
		<script src="../assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
	</body>

</html>

{% endblock %}
